<!-- Describe task in general -->

<p><i>
    Це друга місія в серії Lightbulb. Кожне наступне завдання я постараюся трохи ускладнити.
</i></p>

<p>
    Ти вже навчився рахувати, скільки часу світила лампочка, або як довго кімната була освітлена. Тепер додамо ще один параметр - час початку підрахунку.
</p>

<p>Це означає, що світло продовжує вмикатися та вимикатися, як і раніше. Але тепер, в результаті роботи функції, я хочу знати не тільки скільки часу було світло в кімнаті, але і скільки часу кімната була освітлена, починаючи з певного моменту.</p>

<p> Додається ще один аргумент – <b>start_watching</b>, а якщо його не передано, рахуємо як у попередній версії програми за весь період.</p>

<p style="text-align: center;" class="for_info_only">
    <img  title="example" src="{{MEDIA}}composition.gif" alt="example" style="max-height: 400px"/>
</p>

<!-- Explain input and output values -->
<p>
    <strong>Вхідні дані: </strong> Два аргументи і лише перший потрібний. Перший — це {% if is_js %}масив об’єктів Date{% else %}список об’єктів datetime{% endif %}, а другий - {% if is_js %}об’єкт Date{% else %}об'єкт datetime{% endif %}.
</p>

<p>
    <strong>Вихідні дані: </strong> Кількість секунд як ціле число.
</p>


<!-- Give some usage examples -->
<div class="for_info_only">
    <p>
        <strong>Приклади:</strong>
    </p>

{% if is_js %}
<pre class="brush: javascript">sumLight([
    new Date(2015, 1, 12, 10, 0, 0),
    new Date(2015, 1, 12, 10, 0, 10),
],
new Date(2015, 1, 12, 10, 0, 5)) == 5

sumLight([
    new Date(2015, 1, 12, 10, 0, 0),
    new Date(2015, 1, 12, 10, 0, 10),
], new Date(2015, 1, 12, 10, 0, 0)) == 10

sumLight([
    new Date(2015, 1, 12, 10, 0, 0),
    new Date(2015, 1, 12, 10, 10, 10),
    new Date(2015, 1, 12, 11, 0, 0),
    new Date(2015, 1, 12, 11, 10, 10),
], new Date(2015, 1, 12, 11, 0, 0)) == 610
</pre>
{% else %}
<pre class="brush: python">sum_light([
    datetime(2015, 1, 12, 10, 0, 0),
    datetime(2015, 1, 12, 10, 0, 10),
],
datetime(2015, 1, 12, 10, 0, 5)) == 5

sum_light([
    datetime(2015, 1, 12, 10, 0, 0),
    datetime(2015, 1, 12, 10, 0, 10),
], datetime(2015, 1, 12, 10, 0, 0)) == 10

sum_light([
    datetime(2015, 1, 12, 10, 0, 0),
    datetime(2015, 1, 12, 10, 10, 10),
    datetime(2015, 1, 12, 11, 0, 0),
    datetime(2015, 1, 12, 11, 10, 10),
], datetime(2015, 1, 12, 11, 0, 0)) == 610
</pre>
{% endif %}
</div>


<!-- Here you can explain how it can be used in development -->
<!-- The section is optional -->

<p>
    <strong>Передумова:</strong>
</p>
<ul>
    <li><i>Масив натискання кнопки завжди сортується за зростанням</i></li>
	<li><i>Масив натискання кнопки не має повторюваних елементів</i></li>
	<li><i>Кількість елементів завжди рівномірна (світло з часом вимикається)</i></li>
	<li><i>Мінімальна можлива дата - 01.01.1970</i></li>
	<li><i>Максимальна можлива дата 9999-12-31</i></li>
</ul>
